body {
    background: #b0d9f6;
    font-family: "Roboto", sans-serif;
}

.weather-app {
    background: white;
    max-width: 600px;
    margin: 30px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 20px;
    padding:30px
}

.search-form-input {
    background-color: #eaf5fc;
    border: none;
    border-radius: 6px;
    width: 80%;
    font-size: 16px;
    padding: 15px 20px;
}

.search-form-button {
    background-color: #058cec;
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    margin-left: 5px;
    border-radius: 6px;
    color: white;
}

.search-form-button:hover{
    background-color: #eaf5fc;
    color: #058cec;

}

header {
    border-bottom: 1px solid #e4e9f5;
    padding: 0 0 30px 0;
}

footer {
    border-top: 1px solid #e4e9f5;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
}

a {
  color: #058cec;  
}

.weather-app-data {
    display: flex;
    justify-content: space-between;
}

main {
    padding: 30px 0;
}

.weather-app-city {
    margin: 0;
    font-size: 38px;
    line-height: 48px;
}

.weather-app-details {
    font-size: 16px;
    line-height: 20px;
    color: rgba(39,33,66,0.4);
}

.weather-app-details strong {
    color: #058cec;
}

.weather-app-temperature-container {
    display: flex;
}

.weather-app-temperature {
    font-size: 88px;
    font-weight: bold;
}

.weather-app-icon {
    width: 80px;
    height: 80px;
    margin-left: 10px;
}

.weather-app-unit {
    margin-top: 20px;
    font-size: 28px;
}

.weather-forecast-date {
    text-align: center;
    color: rgba(39,33,66,0.4);
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 10px;
}

.weather-forecast-icon {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
}

.weather-forecast-temperatures {
    color: #058cec;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.weather-forecast-temperature {
    padding: 0 10px;
}

.weather-forecast {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}